body{
    background: url(/requiredfiles/images/istock-1130825333-2560x1707.jpeg);
    height:50px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.float-r{
    float: right;
    font-family: 'poppins',sans-serif;
    margin-top: 5px;
}
.nav-1::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;   
 }
 .nav-1:hover:after{
     width: 100%;
 }
 .paddding-1{
    padding: 20px;
    margin: 2px;
}
.color{
    color:white
}
.text-center {
    text-align: center;
}
.middle{
    text-align: center;
}
.center{
    text-align: center;
   
}
.margin-1{
    margin: 5px;
    margin-left: 6px;
    padding: 10px;
}
h4{
    margin-top: 200px;
}
h1{
 padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
}












